@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 96, 55);
    font-family: "Inter", sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
}

span {
    color: yellow;
}

p {
    text-align: center;
    padding: 10px;
}

h2 .a {
    font-weight: 600px;
    font-size: 15px;
    color: blue;
    border-bottom: 2px solid blue;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.box {
    color: white;
    font-size: 14px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    background-color: black;
}

.box {
    font-size: 15x;
}

.box2 {
    color: white;
    font-size: 23px;
    text-align: center;
}

.box3 {
    color: white;
    font-size: 23px;
    text-align: center;
}

.div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.best {
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
}

.book {
    gap: 5%;
}

.cars {
    gap: 5%;
}